---
layout: single
# classes: wide
sidebar:
  nav: "academic"
author_profile: true
author: Li Tang
permalink: /academic/
---

{{ "# About Me" | markdownify }}

{{ site.aboutme | markdownify }}

<hr>

{{ "# Publications" | markdownify }}
{% include publication-list.html show_less=true %}
{{ "[**Find more here...**](/publications/)" | markdownify }}

<hr>

{{ "# Projects" | markdownify }}
<div class="entries-academic-project"> 
{% assign projects = site.projects | where: "tags", "academic" %}
{% include project-list.html entries=projects sort_by="date" sort_order="reverse" %}
</div>
