---
layout: single
sidebar:
  nav: "academic"
author_profile: true
author: Li Tang
permalink: /academic/
---

{{ "# About Me" | markdownify }}

{{"
I am a PhD candidate at ZJU Robotics Lab (ZJURL), Zhejiang University since 2015.
I visited UTS Centre for Autonomous Systems (CAS) from Oct. 2017 to Jan. 2018, and I am now a visitor in Autonomous Systems Lab (ASL), ETH Zurich (since Sept. 2019).

My research interest is focused on visual localization. Besides, I am interested in everything in robotics.
"  | markdownify }}

<hr>

{{ "# Publications" | markdownify }}
{% include publication-list.html show_less=true %}
{{ "[**Find More Here...**](/publications/)" | markdownify }}

<hr>

{{ "# Projects" | markdownify }}
{{ "(Updating. Hopefully finished before May 16.)" | markdownify }}
<div class="entries-academic-project"> 
{% assign projects = site.projects | where: "tags", "academic" %}
{% include project-list.html entries=projects sort_by="date" sort_order="reverse" %}
</div>
