---
layout: single
sidebar:
  nav: "academic"
author_profile: true
author: Li Tang
permalink: /academic/
---

{{ "# About Me" | markdownify }}

{{"
I am a PhD candidate at ZJU Robotics Lab (ZJURL), Zhejiang University since 2015.

My research interest is focused on visual localization. Besides, I am interested in everything in robotics.
"  | markdownify }}

<hr>

{{ "# Publications" | markdownify }}
{% for pubs in site.data.publications %}
    {{ "### " | append: pubs.name | append: ":" | markdownify }}
    <ul>
    {% for pub in pubs.list %}
        <li>
            {{ pub.ref | replace: "Li&nbsp;Tang", "<b>Li&nbsp;Tang</b>" | replace: "Li Tang", "<b>Li Tang</b>" }}
            {% if pub.pdf != '' %}
            <a href="{{site.url}}/assets/pdfs/{{ pub.pdf }}">[pdf]</a>
            {% endif %}
            {% if pub.code != '' %}
            <a href={{ pub.code }}>[code]</a>
            {% endif %}
            <a href="javascript:void(0)" class="collapsible">[bib]</a>
            <div class="bib-collapse"><p style="font-size:100%;">{{ pub.bib }}</p></div>
        </li>
    {% endfor %}
    </ul>

{% endfor %}

<hr>

{{ "# Projects" | markdownify }}

<div class="entries-academic-project"> 
{% assign projects = site.projects | where: "tags", "academic" %}
{% include project-list.html entries=projects sort_by="date" sort_order="reverse" %}
</div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
