{% assign show_less = include.show_less %}
{% for pubs in site.data.publications %}
    {{ "### " | append: pubs.name | append: ":" | markdownify }}
    {% comment %} {% assign selected_pubs = pubs.list | sort: "priority" | limit: 3 | sort: "index" %} {% endcomment %}
    {% if show_less %}
        {% assign selected_pubs = pubs.list | where: "selected", true %}
    {% else %}
        {% assign selected_pubs = pubs.list %}
    {% endif %}
    <ul>
    {% for pub in selected_pubs %}
        <li>
            {{ pub.ref | replace: "Li&nbsp;Tang", "<b>Li&nbsp;Tang</b>" | replace: "Li Tang", "<b>Li Tang</b>" }}
            {% if pub.pdf != '' %}
            <a href="/assets/pdfs/{{ pub.pdf }}">[pdf]</a>
            {% endif %}
            {% if pub.code != '' %}
            <a href={{ pub.code }}>[code]</a>
            {% endif %}
            <a href="javascript:void(0)" class="collapsible">[bib]</a>
            <div class="bib-collapse"><p style="font-size:100%;">{{ pub.bib }}</p></div>
        </li>
    {% endfor %}
    </ul>

{% endfor %}

<script>
var coll = document.getElementsByClassName("collapsible");
var i;
for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.maxHeight){
      content.style.maxHeight = null;
    } else {
      content.style.maxHeight = content.scrollHeight + "px";
    }
  });
}
</script>
